@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=fallback');
.main {
  display: flex;
  border-bottom: 2px solid rgb(190, 190, 190);
  background-color: #dddfd4; //white;
  width: 100%;
  //font-family: Roboto;//, sans-serif;
  //font-family: 'Times New Roman', Times, serif;
}

.left_side {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.right_side {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
}

.mainMenu {
  width: 35px;
  height: 35px;
  margin: 0px 0px 0px 30px;
  text-decoration: none;
}

.mainMenu:hover { 
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}
