.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 15px;
  background-color: white;
  margin: 5%;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
  }
}



.item {
  margin: 10px 20px;
}